<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>756091D1-1071-47BD-8174-6482D62B73B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D315D875-53ED-4D37-BC06-36BFEB23BD70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen</string>
	<key>description</key>
	<string>Learn how to connect a keyword to different actions and outputs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Programming Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://doc.rust-lang.org/std/index.html?search={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D315D875-53ED-4D37-BC06-36BFEB23BD70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rust</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search RustLang Docs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>756091D1-1071-47BD-8174-6482D62B73B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>756091D1-1071-47BD-8174-6482D62B73B4</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D315D875-53ED-4D37-BC06-36BFEB23BD70</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
