[user]
	name = stephenyu
	email = stephen@canva.com
	signingkey = F37DBC16AB5D2B68
[protocol]
	version = 2
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	s = status -uno --short --branch
	st = status
	co = checkout
	c- = checkout -
	rb = rebase --interactive
	ap = add --patch
	diffc = diff --cached
	l1 = log --pretty=format:\"%Cblue%h%Creset - %an, %Cred%ar%Creset : %Cgreen%s\" --color=always
	ci = ci-status -v
	pu = push -u origin (git rev-parse --abbrev-ref HEAD)
	uno = status -uno
	ct = commit -m
	df = diff
	pl = pull
	cam = !git commit --date=\"$(date -u +%Y-%m-%dT%H:%M:%S%z)\" -am

[pull]
	rebase = false
[gpg]
	program = gpg
[worktree]
    guessRemote = true

[diff]
    colorMoved = default

[delta]
    line-numbers = true
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
