[user]
	name = stephenyu
	email = s.yu@less3.com
	signingkey = F37DBC16AB5D2B68
[protocol]
	version = 2
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	s = status -uno --short --branch
	st = status
	co = checkout
	c- = checkout -
	rb = rebase --interactive
	ap = add --patch
	diffc = diff --cached
	l1 = log --pretty=format:\"%Cblue%h%Creset - %an, %Cred%ar%Creset : %Cgreen%s\" --color=always
	ci = ci-status -v
	pu = push -u origin (git rev-parse --abbrev-ref HEAD)
	uno = status -uno
	ct = commit -m
	df = diff
	pl = pull
	cam = !git commit --date=\"$(date -u +%Y-%m-%dT%H:%M:%S%z)\" -am

[pull]
	rebase = false
[gpg]
	program = gpg
[worktree]
    guessRemote = true

[diff]
    colorMoved = default

[delta]
    line-numbers = true
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[trace2]
	eventTarget = af_unix:dgram:/tmp/olly-git-trace2.sock
[maintenance]
	repo = /Users/stephen/Work/js-multi-agent
	repo = /Users/stephen/Work/telegram-chatgpt
	repo = /Users/stephen/Work/old-docs
	repo = /Users/stephen/Work/stable-diffusion
	repo = /Users/stephen/Work/canva-apps-sdk-starter-kit
	repo = /Users/stephen/Work/hype-newsletter-slack-backup
	repo = /Users/stephen/Work/gitstatus
	repo = /Users/stephen/Work/cloudinary-image-editor
	repo = /Users/stephen/Work/dprint
	repo = /Users/stephen/Work/StableStudio
	repo = /Users/stephen/Work/cw-calendar
	repo = /Users/stephen/Work/electron
	repo = /Users/stephen/Work/pdf-template-creator
	repo = /Users/stephen/Work/canva-love
	repo = /Users/stephen/Work/canva-calendar
	repo = /Users/stephen/Work/dynamic-config
	repo = /Users/stephen/Work/rust-roleprofile-breakdown
	repo = /Users/stephen/Work/webextensions-examples
	repo = /Users/stephen/Work/link-redirection
	repo = /Users/stephen/Work/image-checker
	repo = /Users/stephen/Work/slack-newsletter
	repo = /Users/stephen/Work/Less3
	repo = /Users/stephen/Work/snotes
	repo = /Users/stephen/Work/canva-old
	repo = /Users/stephen/Work/SYCloudinary
	repo = /Users/stephen/Work/qa-ai-js
	repo = /Users/stephen/Work/chromium
	repo = /Users/stephen/Work/ladybird
	repo = /Users/stephen/Work/cw-roleprofile-breakdown
	repo = /Users/stephen/Work/dam-playground
	repo = /Users/stephen/Work/docs
	repo = /Users/stephen/Work/text-editor
	repo = /Users/stephen/Work/stephenyu-experiments
	repo = /Users/stephen/Work/dprint-plugin-typescript
	repo = /Users/stephen/Work/chatbot-ui
	repo = /Users/stephen/Work/url-bot
	repo = /Users/stephen/Work/exported_hero_carousel_cards_optimised
	repo = /Users/stephen/Work/canva
	repo = /Users/stephen/Work/eink-dashboard
	repo = /Users/stephen/Work/interview-notes
	repo = /Users/stephen/Work/project
	repo = /Users/stephen/Work/phoenix-sparse
	repo = /Users/stephen/Work/stephenyu-devbox-dotfiles
	repo = /Users/stephen/Work/vigilant-octo
	repo = /Users/stephen/Work/test-repo
	repo = /Users/stephen/Work/jobs
	repo = /Users/stephen/Work/phoenix_old
