snippet class
	<?php
	
	namespace ${1:`substitute(substitute(expand("%:h"), 'v^w+/(u)', '1', ''), '/', '\', 'g')`};
	
	class ${2:`Filename('', 'myClass')`}
	{
	    ${3}
	}
snippet pf
	/**
	 *
	 */
	public function ${1}(${2})
	{
	${3}
	}
snippet @R
	@Route("${1}"${2})
snippet @T
	@Template(${1})
snippet @M
	@Method("${1}")
