# Some useful Unicode entities
# Non-Breaking Space

snippet script:src
	<script src="${1}.js"></script>
snippet html5
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Index</title>
		</head>
		<body>
			body
		</body>
	</html>
