snippet it
	it('${1}', function(${2}) {
		${3}
	});
snippet def
	define([${1}], function(${2}) {
		${3}
	});
snippet req
	require([${1}], function(${2}) {
		${3}
	});
snippet! fun
	function ${1:function_name} (${2:argument}) {
		${3:// body...}
	}
snippet component
	angular.module('${1:module_name}').component('${2:component_name}', {
	    templateUrl: ''
		/*controller: ,
		controllerAs: '',
		bindings:{}*/
	});

