<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>02F95B04-77CD-4C2E-87E4-2F1F3BE9091D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vam</string>
			<key>text</key>
			<string>Open canv.am/{query}</string>
			<key>url</key>
			<string>https://canv.am/{query}</string>
		</dict>
		<key>0D86A9B4-923F-43BB-84DE-E95DD157E29B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vams</string>
			<key>text</key>
			<string>Canv.am Search</string>
			<key>url</key>
			<string>https://canv.am/search?query={query}&amp;sort=clicks</string>
		</dict>
		<key>45C78463-AA5B-4299-9666-F7B14B315844</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cw</string>
			<key>text</key>
			<string>Search Canva World for {query}</string>
			<key>url</key>
			<string>https://canva.world/search?query={query}</string>
		</dict>
		<key>605636F4-5E74-4C31-B0E6-D9EC9B1CD70B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>projects</string>
			<key>text</key>
			<string>Search Canva Projects for {query}</string>
			<key>url</key>
			<string>https://www.canva.com/search/designs?q={query}</string>
		</dict>
		<key>61C097C4-9E28-4C3A-9A01-B2E88926B8E7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>con</string>
			<key>text</key>
			<string>Search Canva Confluence for {query}</string>
			<key>url</key>
			<string>https://canvadev.atlassian.net/wiki/search?text={query}</string>
		</dict>
		<key>8821D59D-649C-43A5-A896-14CC5C38D9AE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>t</string>
			<key>text</key>
			<string>Search Thesaurus for {query}</string>
			<key>url</key>
			<string>https://www.merriam-webster.com/thesaurus/{query}</string>
		</dict>
		<key>AE7E0C2C-C3AB-46FC-829A-B38C995C808A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gsheet</string>
			<key>text</key>
			<string>Search Google Sheets for {query}</string>
			<key>url</key>
			<string>https://docs.google.com/spreadsheets/u/0/?tgif=d&amp;q={query}</string>
		</dict>
		<key>DC7849C1-99D0-4FF4-A503-EEF50A0D35F5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gdoc</string>
			<key>text</key>
			<string>Search Google Docs for {query}</string>
			<key>url</key>
			<string>https://docs.google.com/document/u/0/?tgif=d&amp;q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
